body {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    max-height: 100vh; 
}

section {

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}